Flask==2.0.3
Pillow==9.0.1
numpy==1.21.6
scikit-image==0.19.3
opencv-python-headless==4.5.5.64
SimpleITK==2.1.1.2
pydicom==2.3.0
scipy==1.7.3
mahotas==1.4.13
gunicorn==20.1.0  # Necesario para producción en Render